## .NET
bin/
obj/
publish/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/*
*.nupkg
.nuget/

## Visual Studio
.vs/
*.csproj.user

## Rider
.idea/

## OS
Thumbs.db
desktop.ini
.DS_Store
