<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PgHost" value="localhost" />
    <add key="PgPort" value="5432" />
    <add key="PgDatabase" value="integrapgsql" />
    <add key="PgUser" value="postgres" />
    <add key="PgPassword" value="" />
  </appSettings>
</configuration>
